<?xml version="1.0"?>
<launch>

  <arg name="lidar_topic" default="/sync_scan_cloud_filtered" />
  <arg name="imu_topic" default="/imu/data" />
  <arg name="rviz" default="true" />
  <rosparam command="load" file="$(find loam_ros)/config/loam_continuous/default_params.yaml"/>


  <include file="$(find loam_ros)/launch/loam.launch" >
    <arg name="lidar_topic" default="$(arg lidar_topic)" />
    <arg name="imu_topic" default="$(arg imu_topic)" />
  </include>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_ros)/rviz_cfg/loam_velodyne.rviz" />
  </group>

</launch>