<?xml version="1.0"?>
<launch>

  <arg name="rviz" default="true" />
  <arg name="scanPeriod" default="0.7" />
  <arg name="featureRegions" default="4" />
  <arg name="lessFlatFilterSize" default="0.1" />

  <node pkg="loam_velodyne" type="ctRot2DScanRegistration" name="ctRot2DScanRegistration" output="screen" >
    <param name="lidar" value="ct_2d" /> 
    <param name="scanPeriod" value="$(arg scanPeriod)" />
    <param name="featureRegions" value="$(arg featureRegions)" />
    <param name="lessFlatFilterSize" value="$(arg lessFlatFilterSize)" />

    <!-- <remap from="/sync_scan_cloud_filtered" to="/velodyne_points" /> -->
    <!-- <remap from="/imu/data" to="/microstrain/imu" /> -->
  </node>

  <node pkg="loam_velodyne" type="laserOdometry" name="laserOdometry" output="screen" respawn="true">
    <param name="scanPeriod" value="$(arg scanPeriod)" />
  </node>

  <node pkg="loam_velodyne" type="laserMapping" name="laserMapping" output="screen">
    <param name="scanPeriod" value="$(arg scanPeriod)" />
    <!-- <remap from="/imu/data" to="/microstrain/imu" /> -->
  </node>

  <node pkg="loam_velodyne" type="transformMaintenance" name="transformMaintenance" output="screen">
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_velodyne)/rviz_cfg/loam_velodyne.rviz" />
  </group>



<!--   <node pkg="loam_continuous" type="scanRegistration_ct" name="scanRegistration_ct" output="screen"/>
  <node pkg="loam_continuous" type="laserOdometry_ct" name="laserOdometry_ct" output="screen"/>
  <node pkg="loam_continuous" type="laserMapping_ct" name="laserMapping_ct" output="screen"/>
  <node pkg="loam_continuous" type="transformMaintenance_ct" name="transformMaintenance_ct" output="screen"/> -->

    <!-- <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_continuous)/rviz_cfg/loam_continuous.rviz"/> -->

</launch>
